<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aqua Pass</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

  <header id="showcase" class="grid">
    <div class="bg-image"></div>
    <div class="content-wrap">
      <h1>Aqua Pass</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eum error earum soluta voluptatum nisi
        laboriosam eos saepe asperiores dolorum.</p>
      <a href="#section-b" class="btn">Więcej...</a>
    </div>
  </header>

  <main id="main">

    <section id="section-a" class="grid">
      <div id="newsletter" class="content-wrap">
        <h2 class="content-title">Newsletter</h2>
        <div class="content-text">
          <form>
            <input type="email" placeholder="Wpisz Email...">
            <button type="submit" class="btn-Newsletter">Subskrybuj</button>
          </form>
        </div>
      </div>
    </section>

    <section id="section-b" class="grid">
      <ul>
        <li>
          <div class="card">
            <img src="../public/css/img/1.jpg" alt="">
            <div class="card-content">
              <h3 class="card-title">Przepusty APP</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit
                voluptatum cum maiores exercitationem.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <img src="../public/css/img/2.jpg" alt="">
            <div class="card-content">
              <h3 class="card-title">Wkłady jednokablowe APW1</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit
                voluptatum cum maiores exercitationem.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <img src="../public/css/img/3.jpg" alt="">
            <div class="card-content">
              <h3 class="card-title">Wkłady wielokablowe APW3</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit
                voluptatum cum maiores exercitationem.</p>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section id="section-c" class="grid">
      <div class="content-wrap">
        <h2 class="content-title">Krajowa ocena techniczna</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime nam rerum vel earum error fugiat cupiditate,
          dolore eius! Minus, explicabo.</p>
      </div>
    </section>

    <section id="section-d" class="grid">
      <div class="box box1">
        <div class="contact">
          <h3>Skontaktuj sie z nami</h3>
          {{msg}}
          <form class="contact" method="POST" action="send">
            <div>
              <label>Imię</label><br>
              <input type="text" name="name" placeholder="Imię">
            </div>
            <div>
              <label>Email</label><br>
              <input type="email" name="email" placeholder="Email">
            </div>
            <div>
              <label>Wiadomość</label><br>
              <textarea name="message" cols="30" rows="10" placeholder="Treść wiadomości"></textarea>
            </div>
            <button class="btn" type="submit">Wyślij</button>
          </form>
        </div>
      </div>
      <div class="box box2">
        <article id="main-col">
          <h2 class="page-title">Karty techniczne:</h2>
          <ul id="references">
            <li>
              <a class="btn" href="#">Karta 1</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet ipsum felis, ac iaculis est
                tempus ut. Vivamus eu malesuada turpis, eu dignissim lorem. Sed non fringilla justo. Morbi sed eleifend
                magna,
              </p>
            </li>
            <li>
              <a class="btn" href="#">Karta 2</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet ipsum felis, ac iaculis est
                tempus ut. Vivamus eu malesuada turpis, eu dignissim lorem. Sed non fringilla justo. Morbi sed eleifend
                magna,
              </p>
            </li>
            <li>
              <a class="btn" href="#">Karta 3</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet ipsum felis, ac iaculis est
                tempus ut. Vivamus eu malesuada turpis, eu dignissim lorem. Sed non fringilla justo. Morbi sed eleifend
                magna,
              </p>
            </li>
          </ul>
      </div>
    </section>

    <footer id="main-footer" class="grid">
      <div>Aqua Pass</div>
      <div>Project By <a href="https://github.com/GroovyMikee" target="_blank">GroovyMikee &copy;</a></div>
    </footer>
</body>

</html>